body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

textarea {
  width: 60%;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  font-size: 18px;
}

#loading {
  margin-top: 20px;
  color: #facc15;
}